<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.clever_as.android.gurmansoft" >
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyTheme">
        <activity
            android:name="ru.clever_as.android.gurmansoft.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.clever_as.android.gurmansoft.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="ru.clever_as.android.gurmansoft.MainActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.clever_as.android.gurmansoft.MainActivity" />
        </activity>
    </application>

</manifest>
